body {
    background-color: #15191D;
}

header {
    background-color: #212836;
    height: auto;
    padding-bottom: 10px;
}

.brand__logo {
    /*width: 750px;*/
    height: 100px;
    background-image: url("../img/logo.png");
    width: 100%;
    max-width: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px auto 10px;
}

.background__container {
    background-repeat: no-repeat;
    background-size: cover;
    clear: both;
    width: 100%;
    margin: 0;
    background-color: #212836;
}

textarea:focus, input:focus{
    outline: none;
}

.brand__subtext {
    color: RGBA(255,255,255, 0.4);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0px;
    width: 80%;
    text-align: center;

}

.social__wrapper {
    margin-left: 60px;
}

.social__title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    margin: 70px 0px 10px;
}

.social__facebook {
    width: 45px;
    height: 45px;
    background-image: url("../img/facebook.png");
    width: 100%;
    max-width: 45px;
    background-size: cover;
    display: inline-block;
    margin-right: 20px;
    margin-left: 30px;
}

.social__twitter {
    width: 45px;
    height: 45px;
    background-image: url("../img/twitter.png");
    width: 100%;
    max-width: 45px;
    background-size: cover;
    display: inline-block;
}

.subheader {
    background-color: #212836;
    border-top-style: solid;
    border-width: 1.0px;
    border-color: RGBA(255,255,255, 0.1);
}


.upcoming-users__wrapper {
    margin-top: 20px;
    margin-left: 25px;
    min-height: 90px;
}

p.upcoming-users__text {
    position:absolute;
    top:10px;
    left:50px;
}

.upcoming-user__wrapper {
    position:relative;
}

.upcoming-users__text {
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
}

.img-circle {
    border-radius: 50%;
    border: 3px solid;
    border-color: #FFFFFF;
    width: 70px;
    max-width: 100px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.upcoming__title {
    color:white;
     font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 22pt;
    padding:0;
    margin-left: 25px;
    margin-top:20px;
}

span.name {
     font-weight: 300;
    font-size: 15pt;
}

span.role {
    color: RGBA(255,255,255, 0.7);
}

svg.email_subscription {
    position:relative;
    display: block;
    max-height: 50px;
    height:60px;
    width:414px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
}

svg.tomorrow {
    max-height: 45px;
}

p.main_title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.4em;

}

@media all and (min-width: 1000px) {
    #mc_embed_signup .button {
        margin-left: 20px !important;
    
    }
}

@media all and (max-width: 1000px) {
    
    svg.email_subscription text {
        font-size:18pt !important; 
        
    }
    
    svg.email_subscription {
        width:290px !important;
    }
    
    #mc_embed_signup .button {
        width:80% !important;
        max-width:320px;
        margin-top:15px !important; 
    }
    
    #mc_embed_signup input.email {
        max-width:80%;   
       
    }
    
    div#mc_embed_signup_scroll {
        margin-right: 20px !important;
        margin-left:20px !important;
    }

}

svg.email_subscription text {
   font-size:25pt; 
   
}



#video_title {
    padding-top: 10px;
}

p.main_subtitle {
     margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: RGBA(255,255,255,0.4);
    padding: 0px 0px;
}

#knik_frame {
    margin-left: 5%;
    margin-right: 5%;
    min-height: 100px;
    padding-bottom: 100px;
}

#mc_embed_signup {

     background:  RGB(21, 25, 29);
     clear: left;
     font: 14px 'Roboto', sans-serif;
     width: 100%;
     padding-bottom: 20px;
}

#mc_embed_signup .button {
    color:black !important;
    text-align: center;
    /*margin-left: 20px !important;*/
    border-radius: 20px !important;
    font: 15px 'Roboto', sans-serif;
    font-size: 14px !important;
    font-weight: 500;
    height:40px !important;
    padding: 0px 45px !important;
    background: #00ADD2; /* For browsers that do not support gradients */ /* For Safari 5.1 to 6.0 */ /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */
    background: -webkit-linear-gradient(left, #00ADD2, #2EFFA4);
    background: -o-linear-gradient(left, #00ADD2, #2EFFA4);
    background: linear-gradient(to right, #00ADD2, #2EFFA4); /* Standard syntax */

}

#mc_embed_signup input.email {
    border-radius: 20px !important;
    font: 14px 'Roboto', sans-serif !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500;
    height:40px !important;
    background:  RGB(21, 25, 29) !important;
    border: 1px solid white !important;
    width: 320px !important;
    padding-left: 20px !important;
    color: white !important;
}
