body {
    background-color: #15191D;
}

header {
    background-color: #212836;
    height: auto;
    padding-bottom: 10px;
}

.brand__logo {
    width: 750px;
    height: 100px;
    background-image: url("../img/logo.png");
    width: 100%;
    max-width: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 60px 25px 10px;
}

.brand__subtext {
    color: RGBA(255,255,255, 0.4);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-left: 25px;
}

.social__wrapper {
    margin-left: 60px;
}

.social__title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    margin: 70px 0px 10px;
}

.social__facebook {
    width: 45px;
    height: 45px;
    background-image: url("../img/facebook.png");
    width: 100%;
    max-width: 45px;
    background-size: cover;
    display: inline-block;
    margin-right: 20px;
    margin-left: 30px;
}

.social__twitter {
    width: 45px;
    height: 45px;
    background-image: url("../img/twitter.png");
    width: 100%;
    max-width: 45px;
    background-size: cover;
    display: inline-block;
}

.subheader {
    background-color: #212836;
    border-top-style: solid;
    border-width: 0.120em;
    border-color: RGBA(255,255,255, 0.2);
}

.upcoming-text__wrapper {
}

.upcoming-users__wrapper {
    margin-top: 20px;
    margin-left: 25px;
}

.upcoming-user__wrapper {
    margin-right: 40px;
}

.upcoming-users__text {
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
}

.img-circle {
    border-radius: 50%;
    border: 3px solid;
    border-color: #FFFFFF;
    width: 70px;
    max-width: 100px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
