body {
    background-color: RGB(21, 25, 29);
}


p.main_title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.4em;
}

#knik_frame {
    margin-left: 10%;
    margin-right:10%;

    min-height: 100px;
}
