body {
    background-color: #15191D;
}

header {
    background-color: #212836;
    height: auto;
    padding-bottom: 10px;
}

.brand__logo {
    width: 750px;
    height: 100px;
    background-image: url("../img/logo.png");
    width: 100%;
    max-width: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 30px 25px 10px;
}

.brand__subtext {
    color: RGBA(255,255,255, 0.4);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-left: 25px;
}

.social__wrapper {
    margin-left: 60px;
}

.social__title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    margin: 70px 0px 10px;
}

.social__facebook {
    width: 45px;
    height: 45px;
    background-image: url("../img/facebook.png");
    width: 100%;
    max-width: 45px;
    background-size: cover;
    display: inline-block;
    margin-right: 20px;
    margin-left: 30px;
}

.social__twitter {
    width: 45px;
    height: 45px;
    background-image: url("../img/twitter.png");
    width: 100%;
    max-width: 45px;
    background-size: cover;
    display: inline-block;
}

.subheader {
    background-color: #212836;
    border-top-style: solid;
    border-width: 1px;
    border-color: RGBA(255,255,255, 0.2);
}

.upcoming-text__wrapper {
    margin-top: 20px;
}

.upcoming__title {
    color:white;
     font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 22pt;
    padding:0;
    margin-left: 25px;
}

svg.email_subscription {
    min-width: 424px;
    max-height: 50px;
}

svg.tomorrow {
    max-height: 45px;
}

p.main_title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.4em;
    
}

#video_title {
    padding-top: 10px;
}

p.main_subtitle {
     margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: RGBA(255,255,255,0.4);
    padding: 0px 0px;
}

#knik_frame {
    margin-left: 10%;
    margin-right:10%;

    min-height: 100px;
}

#mc_embed_signup {
    
     background:  RGB(21, 25, 29);
     clear: left;
     font: 14px 'Roboto', sans-serif;
     width: 100%;
     padding-bottom: 20px;
}

#mc_embed_signup .button {
    color:black !important;
    text-align: center;
    margin-left: 20px !important;
    border-radius: 20px !important;
    font: 15px 'Roboto', sans-serif;
    font-size: 14px !important;
    font-weight: 500;
    height:40px !important;
    padding: 0px 45px !important; 
    background: #00ADD2; /* For browsers that do not support gradients */ /* For Safari 5.1 to 6.0 */ /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */
    background: -webkit-linear-gradient(left, #00ADD2, #2EFFA4);
    background: -o-linear-gradient(left, #00ADD2, #2EFFA4);
    background: linear-gradient(to right, #00ADD2, #2EFFA4); /* Standard syntax */

}

#mc_embed_signup input.email {
    border-radius: 20px !important;
    font: 14px 'Roboto', sans-serif !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500;
    height:40px !important;
    background:  RGB(21, 25, 29) !important;
    border: 1px solid white !important;
    width: 320px !important;
    padding-left: 20px !important;
    color: white !important;
}